@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

blockquote {
  margin: 1.5rem 0;
  padding: 0 1rem;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

pre {
  font-size: 0.875rem;
}
code[class*='language-'],
pre[class*='language-'] {
  text-shadow: none;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

@tailwind components;

@tailwind utilities;
